.contenedor-imagenes
  position: relative

  .animation-girl
    position: absolute
    width: 830px
    height: 245px
    background-image: url('../assets/curso/animation-banner.svg')
    background-size: 730px
    animation: jump 1.5s steps(6) infinite
    transform: scale(.37) perspective(40cm) rotateX(0deg) rotateY(-30deg) rotateZ(-3deg) 
    transform-style: preserve-3d
    top: 90px
    left: -122px
    @media (max-width: 1394px)
      width: 950px
      transform: scale(.26) perspective(40cm) rotateX(0deg) rotateY(-30deg) rotateZ(-3deg) 
      transform-style: preserve-3d
      top: 60px
      left: -230px

    @media (max-width: $bp-max-lg)
      width: 800px
      transform: scale(.26) perspective(40cm) rotateX(0deg) rotateY(-30deg) rotateZ(-3deg) 
      transform-style: preserve-3d
      top: 20px
      left: -195px

  
@keyframes jump
  0%
    background-position: 0px
  100%
    background-position: 713px

// FONDO PARA VIDEOS -------------------------
.bg-video
  background-image: url(../assets/curso/bg-video.svg)
  background-position: center
  background-repeat: no-repeat
  background-size: 100 100
  width: 100%
